.BackgroundColorFooter {

    background-color: #76984b;
    border-radius: 12px;

}

.BackgroundColorFooter>h2 {
    margin: 1rem;
}

.UlFooter {
    list-style-type: none;

}

.LiFooter {
    font-size: 1rem;
}